<section class="product-lists-slider mt-20">
    <div class="container mx-auto rounded-1 bg-white p-8">
        {% assign collection = collections[section.settings.collection] %}

        <div class="splide">
            <div class="splide__track rounded-md">
                <div class="splide__list">
                    {%- for product in collection.products -%}
                        <div class="product-item splide__slide">
                            <a href="{{product.url}}">
                                <img class="rounded-md" src="{{ product.images.first | img_url: '350x350', crop: 'top' }}"  alt="{{ collection.title | escape }}" />
                                <h2>{{ product.title }}</h2>
                            </a>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name":{
        "en": "Products Lists Slider"
    },
    "settings": [
    {
        "type": "collection",
        "id": "collection",
        "label": "Select collection"
    }
    ],
    "presets": [{
        "name": "Products Lists Slider",
        "category": "Products"
    }]
}
{% endschema %}